<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>麻雀サイコロの結果</title>
</head>
<body>
    <h1>麻雀サイコロの結果</h1>
    <p>プレイヤー数: <%= players %> 人</p>
    <p>サイコロ1の出目: <%= dice1 %></p>
    <p>サイコロ2の出目: <%= dice2 %></p>
    <p>合計出目: <%= diceSum %></p>
    <p>選ばれた家: <%= house %>の牌山から取ってください</p>
</body>
</html>


